<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/home">

      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Imagen -->

  <div class="image-container">

    <ion-img src="../../assets/scooter.jpeg"></ion-img>
  </div>

  <!-- Mensaje -->

  <div class="message-container">


    <h1>Get the <span class="text-warning" fastest></span>
      <br>Delivery Groceries <br> <span class="text-danger">
        at Home
      </span>
    </h1>
  </div>

  <!-- Botones -->

  <div>
    <ion-button expand="block" class="ion-margin-bottom" routerLink="/login">Login</ion-button>
    <ion-button expand="block" fill="outline" routerLink="/register">Register</ion-button>
  </div>

</ion-content>