<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/onboarding">

      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="header">

    <h1>Olvidar tu contraseña</h1>
    <p>Introduce tu email</p>
  </div>

  <form action="">

    <div class="form-field">
      <ion-icon name="mail-outline"></ion-icon>
      <ion-input type="email" placeholder="Password" style="color:green"></ion-input>
    </div>

    <ion-button expand="block">Enviar</ion-button>

  </form>


</ion-content>